@import './normalize.scss';
@import './settings/fonts';
@import './settings/colors';


* {
    box-sizing: border-box;
}

body {
    font-family: $font-main;

    &:after {
        content: "";
        background: url('../assets/bg.png');
        height: 100%;
        width: 100%;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//TEAM
.main-page {
    width: 1060px;

    h1 {
        font-weight: 600;
        font-size: 60px;
        color: $color-title;
        text-align: center;
    }
}

.team-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

//Team member

.team-member .container {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.team-member {
    .team-member-img img {
        height: 180px;
        width: 180px;
        border-radius: 50%;
        // background-color:$color-description ;
        opacity: 0.3;
    }

    .team-member-img {
        background-color: $color-description;
        border-radius: 50%;
        height: 180px;
        width: 180px;
        position: relative;
        &::before {
            content: "\f0e0";
            font-family: FontAwesome;
            font-size: 17px;
            color: white;
            position: absolute;
            text-align: justify;
            background-color: $color-title;
            border-radius: 50%;
            position: absolute;
            padding: 10px 12px;
            margin: 5px;
            z-index: 1;
            display: flex;
            justify-content: right;
            top: 0px;
            left: 130px;
        }
    }

    .team-member-name {
        font-size: 20px;
        color: $color-title;
        font-weight: 400;
        margin: 25px 0;
    }

    .team-member-position {
        font-size: 14px;
        color: $color-description;
        font-weight: 300;
        margin: 0 0 15px;
        text-align: center;
    }

    .team-member-localization {
        font-size: 14px;
        color: $color-basic;
        font-weight: 300;
        margin: 0 30px;
        padding-bottom: 50px;
    }
}
